<div class="main-div" fxLayout='column' *ngFor="let post of Posts">
    <mat-card class="mat-elevation-z4 center">
        <mat-card-header>
            <div mat-card-avatar class="example-header-image"></div>
            <mat-card-title>{{ post.title }}</mat-card-title>
        </mat-card-header>
        <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
        <mat-card-content>
            <span>
                <p>
                    {{ post.body }}
                </p>
            </span>
        </mat-card-content>
        <mat-card-actions>
            <button mat-button routerLink="posts/{{ post.id }}">More Details</button>
        </mat-card-actions>
    </mat-card>
</div>